<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>survey about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dr. SINDJOUNG FOKO Miguel Landry</ion-card-title>
        <ion-card-subtitle>25-07-2023</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Encadreur
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>SONTIA SOGFACK Melwyn Wulfran</ion-card-title>
        <ion-card-subtitle>25-07-2023</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Université de Dschang / Master I ISOC
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>